<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>CRM Analystic Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-style-mode" content="1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/apexcharts.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/jquery-jvectormap-2.0.5.css"
    />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/vendor/icomoon.css" />
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-pro.css" />
    <link rel="stylesheet" href="assets/css/vendor/rating.css" />
    <link rel="stylesheet" href="assets/css/vendor/dropzone.css" />
    <link rel="stylesheet" href="assets/css/plugins/dropify.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/spacing.css" />
    <link rel="stylesheet" href="assets/css/plugins/datatables.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/buttons.bootstrap5.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery.timepicker.css" />
    <link rel="stylesheet" href="assets/css/plugins/tagify.css" />
    <link rel="stylesheet" href="assets/css/plugins/flatpickr.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="assets/css/plugins/fullcalendar.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/simplebar.css" />
    <link rel="stylesheet" href="assets/css/plugins/waves.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nano.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <div class="modal fade hide" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">New Notifications
                </h1>

            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="handleNotificationViewed(event)">Understood</button>
            </div>
        </div>
    </div>
</div>
  <body class="body-area">
    <!-- Preloader start -->
    <div class="preloader" id="preloader">
      <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Preloader start -->

    <!-- Dashboard area start -->
    <div class="page__full-wrapper">
      <!-- App sidebar area start -->
      <!-- app-sidebar-start -->
      <%- include('sideNavBar', { activePage: 'dashboard' }) %>

      <div class="app__offcanvas-overlay"></div>
      <!-- app-sidebar-end -->
      <!-- App sidebar area end -->

      <div class="page__body-wrapper">
        <!-- App header area start -->
        <%- include('header') %>
        <div class="body__overlay"></div>
        <!-- App header area end -->

        <!-- App side area start -->
        <div class="app__slide-wrapper">
          <div class="row g-20">
            <div class="col-xxl-4 col-xl-6 col-lg-12">
              <div class="card-bg card-border mb-20">
                <div class="card__wrapper style_two">
                  <div
                    class="card__title-wrap d-flex flex-wrap gap-10 align-items-center justify-content-between mb-25"
                  >
                    <h5 class="card__heading-title">Sales Overview</h5>
                    <div style="width: 40%;display: flex;justify-content: space-around;">
                      <div class="card__tab">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link"
                              id="pills-year-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-year"
                              type="button"
                              role="tab"
                              aria-controls="pills-year"
                              aria-selected="true"
                            >
                              1Y
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link"
                              id="pills-month-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-month"
                              type="button"
                              role="tab"
                              aria-controls="pills-month"
                              aria-selected="false"
                            >
                              1M
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link active"
                              id="pills-week-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-week"
                              type="button"
                              role="tab"
                              aria-controls="pills-week"
                              aria-selected="false"
                            >
                              1W
                            </button>
                          </li>
                        </ul>
                      </div>
                      <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>This chart displays the number of sales completed and the total cart value added by customers, tracked weekly, monthly, and yearly.</span>">
                        <i class="icon-circle-info"></i>
                      </button>
                    </div>
                   
                  </div>
                  <div class="card__content">
                    <div
                      class="card__meta d-flex justify-content-between align-items-end flex-wrap"
                    >
                      <div class="card__meta-box d-flex flex-wrap gap-150">
                        <div class="card__meta-single-box">
                          <h4 class="card__title mb-5" id="cart"></h4>
                          <span class="card__desc dot"
                            >Cart Total </span
                          >
                        </div>
                        <div class="card__meta-single-box">
                          <h4 class="card__title mb-5" id="sales"></h4>
                          <span class="card__desc dot down"
                            >Sale Total
                            </span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                  <div class="loading card__wrapper style_two" id="sales_loading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-year"
                    role="tabpanel"
                    aria-labelledby="pills-year-tab"
                  >
                    <div class="card__line-chart">
                      <div id="lineChartYear"></div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-month"
                    role="tabpanel"
                    aria-labelledby="pills-month-tab"
                  >
                    <div class="card__line-chart">
                      <div id="lineChartMonth"></div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade show active"
                    id="pills-week"
                    role="tabpanel"
                    aria-labelledby="pills-week-tab"
                  >
                    <div class="card__line-chart">
                      <div id="lineChartWeek"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-12">
              <div class="card__box">
                <div class="card__wrapper">
                  <div
                    class="card__icon-box d-flex justify-content-between mb-10"
                  >
                    <div class="card__icon">
                      <span><i class="fa-light fa-database"></i></span>
                    </div>
                    <div class="card__dropdown">
                      <div class="dropdown">
                        <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Number of completed purchases with percentage change from last week.</span>">
                          <i class="icon-circle-info"></i>
                        </button>
                  
                      </div>
                    </div>
                  </div>
                  <h6 class="card__sub-title mb-10">Total Orders</h6>
                  <h4 class="card__title mb-10"><%= getSafeValue(orders_counts.data,'current_week_total') %></h4>
                  <span class="card__desc style_two">
                    <% if(orders_counts?.is_positive){ %>
                    
                    <span class="price-increase"><i class="fa-light fa-arrow-up"></i><%= getSafeValue(orders_counts.data,'percentage_change') %></span>
                    <% } else { %>
                    <span class="price-decrease"><i class="fa-light fa-arrow-down"></i><%= getSafeValue(orders_counts.data,'percentage_change') %></span>
                    <% } %>
                    Than Last Week</span
                  >
                </div>
                <div class="card__wrapper">
                  <div
                    class="card__icon-box d-flex justify-content-between mb-10"
                  >
                    <div class="card__icon">
                      <span><i class="fa-light fa-box"></i></span>
                    </div>
                    <div class="card__dropdown">
                      <div class="dropdown">
                        <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Total available products, showing weekly increase or decrease.</span>">
                          <i class="icon-circle-info"></i>
                        </button>
                   
                      </div>
                    </div>
                  </div>
                  <h6 class="card__sub-title mb-10">Total Products</h6>
                  <h4 class="card__title mb-10"> <%= getSafeValue(product_counts.data, 'current_week_total') %></h4>
                  <span class="card__desc style_two">
                    <% if(product_counts?.is_positive){ %>
                    <span class="price-increase"><i class="fa-light fa-arrow-up"></i><%= getSafeValue(product_counts.data, 'percentage_change') %> </span>
                    <% } else { %>
                    <span class="price-decrease"><i class="fa-light fa-arrow-down"></i><%= getSafeValue(product_counts.data, 'percentage_change') %> </span>
                    <% } %>
                    Than Last Week</span
                  >
                </div>
                <div class="card__wrapper">
                  <div
                    class="card__icon-box d-flex justify-content-between mb-10"
                  >
                    <div class="card__icon">
                      <span><i class="fa-thin fa-mug-hot"></i></span>
                    </div>
                    <div class="card__dropdown">
                      <div class="dropdown">
                        <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Count of customers and their change from the previous week.</span>">
                          <i class="icon-circle-info"></i>
                        </button>
                      
                      </div>
                    </div>
                  </div>
                  <h6 class="card__sub-title mb-10">Total Customers</h6>
                  <h4 class="card__title mb-10"><%= getSafeValue(customers_counts.data, 'current_week_total') %></h4>
                  <span class="card__desc style_two">
                    <% if(customers_counts?.is_positive){ %>
                    <span class="price-increase"><i class="fa-light fa-arrow-up"></i><%= getSafeValue(customers_counts.data, 'percentage_change') %></span>
                    <% } else { %>
                    <span class="price-decrease"><i class="fa-light fa-arrow-down"></i><%= getSafeValue(customers_counts.data, 'percentage_change') %></span>
                    <% } %>
                    Than Last Week</span
                  >
                </div>
                <div class="card__wrapper">
                  <div
                    class="card__icon-box d-flex justify-content-between mb-10"
                  >
                    <div class="card__icon">
                      <span><i class="fa-thin fa-face-smile"></i></span>
                    </div>
                    <div class="card__dropdown">
                      <div class="dropdown">
                        <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Revenue generated, comparing with last week’s performance.</span>">
                          <i class="icon-circle-info"></i>
                        </button>
               
                      </div>
                    </div>
                  </div>
                  <h6 class="card__sub-title mb-10">Total Income</h6>
                  <h4 class="card__title mb-10">₹ <%= getSafeValue(sales_count.data, 'current_week_total_cost') %></h4>
                  <span class="card__desc style_two">
                    <% if(sales_count?.is_positive){ %>
                    <span class="price-increase"><i class="fa-light fa-arrow-up"></i><%= getSafeValue(sales_count.data, 'percentage_change') %></span>
                    <% } else { %>
                    <span class="price-decrease"><i class="fa-light fa-arrow-down"></i><%= getSafeValue(sales_count.data, 'percentage_change') %></span>
                    <% } %>
                    Than Last Week</span
                  >
                </div>
              </div>
            </div>
          
            <div class="col-xxl-3 col-xl-5 col-lg-4 col-md-5">
              <div class="card__wrapper">
                <div class="card__top-box d-flex justify-content-between mb-10">
                  <h5 class="card__heading-title">Highest Selling Category</h5>
                  <div class="card__dropdown">
                    <div class="dropdown">
                     
                      <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span> Displays the top-selling product categories along with their sales count.</span>">
                        <i class="icon-circle-info"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card__pie-chart mb-10">
                  <div class="loading card__wrapper style_two" id="selling_category">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div id="pieChartAud"></div>
                </div>
                <div
                  class="card__bottom-box d-flex justify-content-between mb-10"
                >
                  <div class="right-box">
                    <span class="card__desc style_two dot mb-5"
                      >Category Name</span
                    >
                    <h4 class="card__title">
                      <span class="price-increase" id="product_name"
                        ><i class="fa-sharp fa-solid fa-caret-up"></i
                      ></span>
                      
                    </h4>
                  </div>
                  <div class="left-box">
                    <span class="card__desc style_two dot down mb-5"
                      >Category Sold Count</span
                    >
                    <h4 class="card__title">
                      <span class="price-increase" id="product_price"
                        ><i class="fa-sharp fa-solid fa-caret-down"></i
                      ></span>
                      
                    </h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-xl-7 col-lg-8 col-md-7">
              <div class="card-bg card-border mb-20">
                <div class="card__wrapper style_two">
                  <div
                    class="card__title-wrap d-flex align-items-center justify-content-between"
                  >
                    <h5 class="card__heading-title">Country Based Sales</h5>
                    
                    <div class="card__dropdown">
                      <div class="dropdown">
                        <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Displays sales distribution by country, highlighting the regions contributing to total sales.</span>">
                          <i class="icon-circle-info"></i>
                        </button>
               
                      </div>
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__line-chart">
                      <div class="loading card__wrapper style_two" id="country_sales">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                      <div id="treemapCharts2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-5 col-xl-7 col-lg-6">
              <div class="card-bg card-border mb-20">
                <div class="card__wrapper style_two">
                  <div
                    class="card__title-wrap d-flex flex-wrap gap-10 align-items-center justify-content-between mb-25"
                  >
                    <h5 class="card__heading-title">Order Overview</h5>
                    <div style="width: 30%;display: flex;justify-content: space-around;">
                      <div class="card__tab">
                        <ul class="nav nav-pills" id="pills-tab2" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link"
                              id="pills-bar-year-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-bar-year"
                              type="button"
                              role="tab"
                              aria-controls="pills-bar-year"
                              aria-selected="true"
                            >
                              <%= currentYear-2 %>
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link"
                              id="pills-bar-month-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-bar-month"
                              type="button"
                              role="tab"
                              aria-controls="pills-bar-month"
                              aria-selected="false"
                            >
                            <%= currentYear-1 %>
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button
                              class="nav-link active"
                              id="pills-bar-week-tab"
                              data-bs-toggle="pill"
                              data-bs-target="#pills-bar-week"
                              type="button"
                              role="tab"
                              aria-controls="pills-bar-week"
                              aria-selected="false"
                            >
                            <%= currentYear %>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span>Tracks sales and profit trends over the year, allowing comparison across different time periods.</span>">
                        <i class="icon-circle-info"></i>
                      </button>
                    </div>
              
                    
                  </div>
                </div>
                <div class="card__content">
                  <div class="tab-content" id="pills-tabContent2">
                    <div class="loading card__wrapper style_two" id="order_overview">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <!-- Year Tab -->
                    <div
                      class="tab-pane fade"
                      id="pills-bar-year"
                      role="tabpanel"
                      aria-labelledby="pills-bar-year-tab"
                    >
                      <div class="card__line-chart">
                        <div id="chart_0"></div>
                      </div>
                    </div>
            
                    <!-- Month Tab -->
                    <div
                      class="tab-pane fade"
                      id="pills-bar-month"
                      role="tabpanel"
                      aria-labelledby="pills-bar-month-tab"
                    >
                      <div class="card__line-chart">
                        <div id="chart_1"></div>
                      </div>
                    </div>
            
                    <!-- Week Tab -->
                    <div
                      class="tab-pane fade show active"
                      id="pills-bar-week"
                      role="tabpanel"
                      aria-labelledby="pills-bar-week-tab"
                    >
                      <div class="card__line-chart">
                        <div id="chart_2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="card__meta sells-space d-flex flex-wrap gap-10 justify-content-between align-items-end"
                >
                  <div class="card__link">
                    <a href="#"
                      ><i class="fa-light fa-circle-arrow-down"></i
                      ><span>Download Report</span></a
                    >
                  </div>
                  <div class="card__meta-box d-flex gap-150">
                    <div class="card__meta-single-box">
                      <span class="card__desc dot">Sale</span>
                    </div>
                    <div class="card__meta-single-box">
                      <span class="card__desc dot down">Profit</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xxl-3 col-xl-5 col-lg-6">
              <div class="card__wrapper">
                <div
                  class="card__title-wrap d-flex flex-wrap gap-10 align-items-center justify-content-between mb-35"
                >
                  <h5 class="card__heading-title">Customer Satisfaction</h5>
                  <button  data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='icon-base bx bx-bell icon-xs' ></i> <span> Breakdown of customer ratings from 1 to 5 stars, showing the percentage distribution of each rating.</span>">
                    <i class="icon-circle-info"></i>
                  </button>
                </div>
                <div class="tab-content" id="pills-tabContent3">
                  <div
                    class="tab-pane fade show active"
                    id="pills-rating-week"
                    role="tabpanel"
                    aria-labelledby="pills-rating-week-tab"
                  >
                    <div class="card__box-wrapp">
                      <div class="mz-progress-bar style-2">
                        <div class="mz-progress">
                          <div class="mz-progress-wrapper">
                            <div class="mz-progress-head">
                              <h4 class="mz-progress-title">
                                Excellent<span>/5 Star</span>
                              </h4>
                              <span class="mz-progress-percentage"><%= percentage_mapping?.['5'] %> %</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar wow slideInLeft"
                                role="progressbar"
                                style="
                                 width: <%= percentage_mapping?.['5'] || 0 %>%;
                                  visibility: visible;
                                  animation-name: slideInLeft;
                                "
                                aria-valuenow="<%= percentage_mapping?.['5'] %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="mz-progress-wrapper">
                            <div class="mz-progress-head">
                              <h4 class="mz-progress-title">
                                Very Good<span>/4 Star</span>
                              </h4>
                              <span class="mz-progress-percentage"><%= percentage_mapping?.['4'] %> %</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar bg-2 wow slideInLeft"
                                role="progressbar"
                                style="
                                  width: <%= percentage_mapping?.['4'] || 0 %>%;
                                  visibility: visible;
                                  animation-name: slideInLeft;
                                "
                                aria-valuenow="<%= percentage_mapping?.['4'] %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="mz-progress-wrapper">
                            <div class="mz-progress-head">
                              <h4 class="mz-progress-title">
                                Good<span>/3 Star</span>
                              </h4>
                              <span class="mz-progress-percentage"><%= percentage_mapping?.['3'] %> %</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar bg-3 wow slideInLeft"
                                role="progressbar"
                                style="
                                  width: <%= percentage_mapping?.['3'] || 0 %>%;
                                  visibility: visible;
                                  animation-name: slideInLeft;
                                "
                                aria-valuenow="<%= percentage_mapping?.['3'] || 0 %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="mz-progress-wrapper">
                            <div class="mz-progress-head">
                              <h4 class="mz-progress-title">
                                Poor<span>/2 Star</span>
                              </h4>
                              <span class="mz-progress-percentage"><%= percentage_mapping?.['2'] %> %</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar bg-4 wow slideInLeft"
                                role="progressbar"
                                style="
                                  width: <%= percentage_mapping?.['2'] || 0 %>%;
                                  visibility: visible;
                                  animation-name: slideInLeft;
                                "
                                aria-valuenow="<%= percentage_mapping?.['2'] %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="mz-progress-wrapper">
                            <div class="mz-progress-head">
                              <h4 class="mz-progress-title">
                                Very Poor<span>/1 Star</span>
                              </h4>
                              <span class="mz-progress-percentage"><%= percentage_mapping?.['1'] %> %</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar bg-5 wow slideInLeft"
                                role="progressbar"
                                style="
                                  width: <%= percentage_mapping?.['1'] || 0 %>%;
                                  visibility: visible;
                                  animation-name: slideInLeft;
                                "
                                aria-valuenow="<%= percentage_mapping?.['1'] %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xxl-6 col-xl-6 col-lg-12">
              <div class="card__wrapper height-equal">
                <div
                  class="card__title-wrap d-flex align-items-center justify-content-between mb-20"
                >
                  <h5 class="card__heading-title">Top Sold Porducts</h5>
                  <div class="card__dropdown">
                  </div>
                </div>
                <div class="card__table table-responsive">
                  <table class="table table-bordered mb-0">
                    <thead>
                      <tr class="table__title">
                        <th>Porduct Name</th>
                        <th>Store Name</th>
                        <th>Sold Revenue</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody class="table__body">
                      <% sales_based_product_desc.forEach(product => { %>
                      <tr>
                        <td class="tabel__meta">
                          <div class="d-flex align-items-center gap-10">
                            <div class="table-thumb">
                              <img
                                src="<%= product?.image %>"
                                alt="image"
                              />
                            </div>
                            <span class="table__meta-name"><%= product.product_name %></span>
                          </div>
                        </td>
                        <td class="table__cat"><%= product.store_name %></td>

                        <td class="table__cat">₹ <%= product.total_sold %></td>
                        <td class="table__date"><%= product.date_created %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-12">
              <div class="card__wrapper height-equal">
                <div
                  class="card__title-wrap d-flex align-items-center justify-content-between mb-20"
                >
                  <h5 class="card__heading-title">Low Sold Porducts</h5>
                  <div class="card__dropdown">
                  </div>
                </div>
                <div class="card__table table-responsive">
                  <table class="table table-bordered mb-0">
                    <thead>
                      <tr class="table__title">
                        <th>Porduct Name</th>
                        <th>Store Name</th>
                        <th>Sold Revenue</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody class="table__body">
                      <% sales_based_product_asc.forEach(product => { %>
                      <tr>
                        <td class="tabel__meta">
                          <div class="d-flex align-items-center gap-10">
                            <div class="table-thumb">
                              <img
                                src="<%= product?.image %>"
                                alt="image"
                              />
                            </div>
                            <span class="table__meta-name"><%= product.product_name %></span>
                          </div>
                        </td>
                        <td class="table__cat"><%= product.store_name %></td>

                        <td class="table__cat">₹ <%= product.total_sold %></td>
                        <td class="table__date"><%= product.date_created %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <!-- App side area end -->

        <!-- footer area start -->
   
        <!-- footer area end -->
      </div>
    </div>
    <!-- Dashboard area end -->

    <!-- Back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Back to top end -->

    <!-- JS here -->
     <script>
      let alertsArray =[]
      document.addEventListener("DOMContentLoaded", async function () {

        const get_alerts=await fetch('https://book-my-flower-api.vercel.app/get_all_notifications')

        const get_alerts_res=await get_alerts.json()

        const modalBody = document.querySelector(".modal-body");

        const ul = document.createElement("ul");
        ul.style.listStyle = "none"; 

        alertsArray = Array.isArray(get_alerts_res) ? get_alerts_res : [get_alerts_res];

        alertsArray=alertsArray.filter(alert=>alert?.is_viewed!=1)

        alertsArray.forEach((alert) => {
          const li = document.createElement("li");
          li.innerHTML = `
                <small>ID: ${alert?.id}</small> 
                <br> <small>Source: ${alert?.source}</small> 
                <br> <small>Message: ${alert?.source =="posts"? "New Enquiry Received" :alert?.message}</small>
                <br> <small>Created At: ${alert?.created_at}</small>
                <hr>
            `;
          ul.appendChild(li);
        });
        modalBody.appendChild(ul);

        if(alertsArray?.length != 0){

          var myModal = new bootstrap.Modal(document.getElementById("staticBackdrop"));
        myModal.show();
        }



});
      async function handleNotificationViewed(event) {
        event.preventDefault();
        let alert_ids=alertsArray.map(alert=>parseInt(alert?.id))

        const make_viewed=await fetch('https://book-my-flower-api.vercel.app/update_notification_status_as_read',{
          method:'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({notification_ids:alert_ids})
        })
        
      }

     </script>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="assets/js/vendor/calendar-activision.js"></script>
    <script src="assets/js/vendor/jquery-3.7.0.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/magnific-popup.min.js"></script>
    <script src="assets/js/vendor/ajax-form.js"></script>
    <script src="assets/js/vendor/jquery.repeater.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/dayjs.min.js"></script>
    <script src="assets/js/plugins/loader.js"></script>
    <script src="assets/js/plugins/jsvectormap.min.js"></script>
    <script src="assets/js/plugins/world-merc.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/simplebar.min.js"></script>
    <script src="assets/js/plugins/simplebar-active.js"></script>
    <script src="assets/js/plugins/backtotop.js"></script>
    <script src="assets/js/plugins/smooth-scrollbar.js"></script>
    <script src="assets/js/plugins/cleave.min.js"></script>
    <script src="assets/js/plugins/datatables.min.js"></script>
    <script src="assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="assets/js/plugins/jszip.min.js"></script>
    <script src="assets/js/plugins/pdfmake.min.js"></script>
    <script src="assets/js/plugins/vfs_fonts.js"></script>
    <script src="assets/js/plugins/buttons.html5.min.js"></script>
    <script src="assets/js/plugins/buttons.print.min.js"></script>
    <script src="assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="assets/js/plugins/steps-form.js"></script>
    <script src="assets/js/plugins/dropify.min.js"></script>
    <script src="assets/js/plugins/dropzone.js"></script>
    <script src="assets/js/plugins/tinymce.min.js"></script>
    <script src="assets/js/plugins/custom.js"></script>
    <script src="assets/js/plugins/typeahead.bundle.min.js"></script>
    <script src="assets/js/plugins/bloodhound.js"></script>
    <script src="assets/js/plugins/select2.full.min.js"></script>
    <script src="assets/js/plugins/jquery.timepicker.min.js"></script>
    <script src="assets/js/plugins/flatpickr.js"></script>
    <script src="assets/js/plugins/tagify.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/sweetalert2.all.min.js"></script>
    <script src="assets/js/plugins/apexcharts.min.js"></script>
    <script src="assets/js/plugins/fullcalendar.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/vendor/custom-tagify.js"></script>
    <script src="assets/js/vendor/height-equal.js"></script>
    <script src="assets/js/vendor/custom-chart.js"></script>
    <script src="assets/js/vendor/rangeslider-script.js"></script>
    <script src="assets/js/vendor/jquery.barrating.js"></script>
    <script src="assets/js/vendor/rating-script.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor/sidebar.js"></script>
  </body>
</html>
<style>
  .mz-progress-wrapper:not(:last-child) {
    margin-bottom: 20px !important;
}
.mz-progress-head {

    margin-bottom: 10px !important; 
}
</style>
