<div class="app-sidebar" id="sidebar">
    <div class="main-sidebar-header">
      <a href="index.html" class="header-logo">
        <img
          class="main-logo"
          src=""
          alt="logo"
        />
        <img
          class="dark-logo"
          src="assets/images/logo/logo-white.svg"
          alt="logo"
        />
      </a>
    </div>
    <div class="main-sidebar" id="sidebar-scroll">
      <nav class="main-menu-container nav nav-pills flex-column sub-open">
        <div class="sidebar-left" id="sidebar-left"></div>
        <ul class="main-menu">
            <li class="sidebar__menu-category">
              <span class="category-name">Main</span>
            </li>
          
            <li class="slide ">
              <a href="/home" class="sidebar__menu-item <%= (activePage === 'dashboard') ? 'active' : '' %>">
                <div class="side-menu__icon"><i class="icon-house"></i></div>
                <span class="sidebar__menu-label">Dashboard</span>
               
              </a>
            </li>
          
            <li class="slide ">
              <a href="/products" class="sidebar__menu-item <%= (activePage === 'products') ? 'active' : '' %>">
                <div class="side-menu__icon"><i class="icon-box-archive"></i></div>
                <span class="sidebar__menu-label">Products</span>
               
              </a>
            </li>
          
            <li class="slide ">
              <a href="/orders" class="sidebar__menu-item <%= (activePage === 'orders') ? 'active' : '' %>">
                <div class="side-menu__icon"><i class="icon-clipboard-list"></i></div>
                <span class="sidebar__menu-label">Orders</span>
               
              </a>
            </li>
          
            <li class="slide ">
              <a href="/customers" class="sidebar__menu-item <%= (activePage === 'customers') ? 'active' : '' %>">
                <div class="side-menu__icon">
                  <i class="icon-circle-user"></i>
                </div>
                <span class="sidebar__menu-label">Customers</span>
               
              </a>
            </li>
            <!-- <li class="slide ">
              <a href="/leads" class="sidebar__menu-item <%= (activePage === 'leads') ? 'active' : '' %>">
                <div class="side-menu__icon">
                  <i class="icon-people-group"></i>
                </div>
                <span class="sidebar__menu-label">Leads</span>
               
              </a>
            </li> -->

            <li class="slide ">
              <a href="/mail_config_table" class="sidebar__menu-item <%= (activePage === 'mail_config') ? 'active' : '' %>">
                <div class="side-menu__icon">
                  <i class="fas fa-envelope-open-text"></i>
                </div>
                <span class="sidebar__menu-label">Mail Template</span>
               
              </a>
            </li>
          
            <li class="slide ">
              <a href="/vendors" class="sidebar__menu-item <%= (activePage === 'vendor') ? 'active' : '' %>">
                <div class="side-menu__icon">
                  <i class="icon-store"></i>
                </div>
                <span class="sidebar__menu-label">Vendors/Stores</span>
               
              </a>
            </li>

            <li class="slide ">
              <a href="/contacts" class="sidebar__menu-item <%= (activePage === 'enquiry') ? 'active' : '' %>">
                <div class="side-menu__icon">
                  <i class="icon-phone"></i>
                </div>
                <span class="sidebar__menu-label">Enquiries</span>
               
              </a>
            </li>

     
          </ul>
          
        <div class="sidebar-right" id="sidebar-right"></div>
      </nav>

    </div>
  </div>
 